#home {

    div {

        h1 {
            color: rgb(194, 4, 4);
            text-decoration: underline; 
        }

        h2 {
            text-align: center;
        }
    
        footer {
            text-align: right;
        }
    }

    main{
        max-width: 80vw;
        margin: auto;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .logos {
            display: flex;
            flex-direction: column;
            // align-self: flex-start;
        }

        figure {

            width: 85%

        }

        .greet_text {

            p {

                text-align: center;

            }

        }

    }
}

@media only screen and (min-width: 1024px) {

    #home { 
        h1 {
            font-size: 3vw; 
        }

        nav {
            text-align: end;
        }

        main {
            margin: inherit;
            display: flex;
            width: 90vw;

            .container {
                height: 65vh;
                width: 80vw;

                .logo_holder {
                    width: 3vw;
                }

                .logos{
                    align-self: center;
                    width: inherit;
                }

                .image_holder {
                    height: 65vh;
                    // width: 40vw;
                
                    figure {
                        width: 35vw;
                    
                        img {
                            height: 60vh;
                        }
                    }
                }
                

            }

            .greet_text {
                align-self: center;
                max-width: 40vw;

                h2 {
                    font-size: 3vw;
                }

                p {
                    font-size: 1.25vw;
                }

            }

        }
    
    }
}