@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
#home {
  margin: 15px 0;
}
#home div h1 {
  color: #c20404;
  text-decoration: underline;
}
#home div h2 {
  text-align: center;
}
#home div footer {
  text-align: right;
}
#home main {
  max-width: 80vw;
  margin: auto;
}
#home main .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#home main .container figure {
  width: 85%;
}
#home main .container figure img {
  max-width: 60vw;
}
#home main .logos {
  display: flex;
  flex-direction: column;
}
#home main .greet_text p {
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #home h1 {
    font-size: 3vw;
  }
  #home main {
    margin: inherit;
    display: flex;
    width: 90vw;
    background-color: black;
    color: #15f5f5;
  }
  #home main .container {
    height: 65vh;
    width: 80vw;
  }
  #home main .container .logo_holder {
    width: 25px;
    z-index: 2;
  }
  #home main .container .logo_holder .linked {
    background-color: #15f5f5;
    border-radius: 50px;
  }
  #home main .container .logos {
    align-self: center;
    width: inherit;
  }
  #home main .container .image_holder {
    height: 65vh;
  }
  #home main .container .image_holder figure {
    width: 35vw;
  }
  #home main .container .image_holder figure img {
    height: 60vh;
  }
  #home main .greet_text {
    align-self: center;
    max-width: 40vw;
  }
  #home main .greet_text h2 {
    font-size: 3vw;
  }
  #home main .greet_text p {
    font-size: 1.25vw;
  }
}
#about main .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#about main .container .image_holder {
  width: 50vw;
}
#about main .container .image_holder figure {
  width: inherit;
}
#about main .container .image_holder figure img {
  height: 60vh;
  width: inherit;
}
#about main .container .logos {
  display: flex;
  flex-direction: column;
}
#about main .container .logos .icons {
  display: inline-block;
}
#about main figure {
  width: 30vw;
  margin: 0;
}
#about main .about_me {
  text-align: center;
}
#about main .about_me h3 {
  font-size: 2vw;
  font-weight: bold;
}
#about main .about_me a {
  font-size: 1.5vw;
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 1024px) {
  #about {
    height: 95vh;
    margin: 4px;
  }
  #about nav {
    text-align: end;
    padding-left: 70vw;
  }
  #about nav .preview {
    width: 70%;
  }
  #about nav .preview img {
    height: 85vh;
  }
  #about main {
    margin: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
  }
  #about main .container {
    height: 85vh;
  }
  #about main .container .logo_holder {
    z-index: 2;
  }
  #about main .container .logos {
    align-self: center;
    width: 10vw;
  }
  #about main .container .image_holder figure {
    max-width: 70vw;
  }
  #about main .container .image_holder figure img {
    height: 60vh;
    width: 25vw;
  }
  #about main .about_me {
    align-self: center;
    max-width: 40vw;
  }
  #about main .about_me h1 {
    font-size: 3vw;
  }
  #about main .about_me h3 {
    font-size: 2vw;
  }
  #about main .about_me p {
    font-size: 1.5vw;
  }
}
#blog main header {
  text-align: center;
  font-size: 2.5vw;
}
#blog main header ul {
  display: flex;
  justify-content: space-evenly;
}
#blog main header ul a {
  text-decoration: none;
  color: black;
}
#blog main figure {
  text-align: center;
}
#blog main figure .blog_image {
  width: 60vw;
  max-width: 900px;
}
#blog main article {
  text-align: center;
  max-width: 50vw;
  margin: auto;
}
#blog main article h2 {
  font-size: 3vw;
}
#blog main article p {
  font-size: 2vw;
}
#blog .icons {
  display: inline-block;
  z-index: 2;
}
#blog footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1024px) {
  #blog nav {
    padding-left: 75vw;
    display: flex;
    justify-content: space-between;
  }
  #blog nav .preview img {
    height: 85vh;
  }
  #blog header h1 {
    font-size: 2vw;
  }
  #blog header ul {
    font-size: 1.75vw;
  }
  #blog main div {
    display: flex;
  }
  #blog main .blog_image {
    width: 30vw;
    max-width: 400px;
  }
  #blog main article h2 {
    font-size: 1.5vw;
  }
  #blog main article p {
    font-size: 1vw;
  }
  #blog main .type_2 {
    flex-direction: row-reverse;
  }
}
#resume .wes a {
  text-decoration: none;
}
#resume .wes a span {
  font-size: 15px;
  color: black;
}
#resume .wes .container_1 div {
  display: flex;
  justify-content: space-between;
}
#resume .wes .container_1 div div {
  width: 55vw;
  justify-content: space-evenly;
}
#resume .wes .container_1 div div div {
  flex-direction: column;
}
#resume .wes .container_1 section ol {
  text-align-last: right;
}
#resume .container_2 figure {
  text-align: center;
}
#resume .container_2 figure img {
  width: 40px;
  border-radius: 30px;
}
#resume .logos {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1024px) {
  #resume nav {
    text-align: end;
  }
  #resume nav .preview {
    width: 70%;
  }
  #resume nav .preview img {
    width: 40vw;
    height: 85vh;
  }
  #resume header {
    text-align: center;
  }
  #resume main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  #resume main .wes {
    width: 75vw;
  }
  #resume main .wes h2 {
    text-align: center;
  }
  #resume main .wes h2 span {
    position: absolute;
  }
  #resume main .wes h2 span a {
    z-index: 99;
  }
  #resume main .wes .container_1 {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #resume main .wes .container_1 h3 {
    font-size: 1.55vw;
    margin: inherit;
  }
  #resume main .wes .container_1 div {
    justify-content: space-between;
  }
  #resume main .wes .container_1 div div {
    width: 50vw;
    display: flex;
    flex-direction: row;
  }
  #resume main .wes .container_1 div div div {
    flex-direction: column;
  }
  #resume main .wes .container_1 section {
    width: 48vw;
  }
  #resume main .container_2 {
    width: 25vw;
  }
  #resume main .container_2 div {
    height: 40vh;
  }
  #resume main .container_2 div figure {
    text-align: start;
  }
  #resume main .container_2 div figure img {
    width: 40px;
    border-radius: 30px;
  }
  #resume main .container_2 .log_divs {
    height: 45vh;
  }
  #resume main .logos {
    display: flex;
    flex-direction: column;
  }
  #resume main .logos a {
    z-index: 2;
  }
}
body {
  font-family: "Raleway", sans-serif;
}

div nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
div nav .active {
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 15px;
}
div nav .active a {
  color: white;
}
div nav a {
  text-decoration: none;
  color: black;
}
div nav a:hover {
  color: white;
  background-color: black;
  border-radius: 15px;
}

.icons {
  width: 25px;
  height: 25px;
}

.preview {
  position: absolute;
  opacity: 0;
  width: 100%;
  left: 0;
  top: 20px;
  transition: opacity 1s ease;
}
.preview img {
  width: 45vw;
  height: auto;
}
.preview .infopic {
  width: 20vw;
}

@media only screen and (min-width: 1024px) {
  nav {
    font-size: 1.5em;
    padding-left: 75vw;
    display: flex;
    justify-content: space-between;
  }
  nav a:hover + .preview {
    opacity: 1;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 20px;
  }
  nav a:hover + .preview img {
    width: 45vw;
    height: auto;
  }
  nav a:hover + .preview .infopic {
    width: 20vw;
  }
}

/*# sourceMappingURL=main.css.map */
