#resume {
    .wes {

        // removes decoration from link
        a {
            text-decoration: none;

            span {
                font-size: 15px;
                color: rgb(0, 0, 0);
                
            }
        }

        .container_1 {

            // flex to alter layout and space better
            div {    
            display: flex;
            justify-content: space-between;

                div {
                    width: 55vw;
                    justify-content: space-evenly;

                        div {
                            flex-direction: column;
                        }
                }
            }

            // aligns text to the right
            section {
                ol {
                    text-align-last: right; 
                }
            }
        }
    }

    .container_2 {

        // aligns image and goves better proportions as well as slightly rounding the image
        figure{
            text-align: center;
    
            img {
            width: 40px;
            border-radius: 30px;
            }
        }

    }

    // displays logos in a row
    .logos {
        display: flex;
        justify-content: space-evenly;
    }
    
}

// used for desktop version of site
@media only screen and (min-width: 1024px) {
    #resume{

        // nav bar displayed to the far right oof the page
        nav {
            text-align: end;

            // sets the preview image dimension to fit better on the page when displayed
            .preview {
                width: 70%;

                img {
                    width: 40vw;
                    height: 85vh;
                }
            }

        }

        // minor text alignment
        header {
            text-align: center;
        }
        
        // main made flex box to manipulate content to better fit wider screen
        main {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            
            .wes {
                width: 75vw;


                h2{
                    text-align: center;
                    span {
                        position: absolute;
                        a {
                            z-index: 99; // ensures link is able to be accessed through hidden preview image
                        }
                    }
                }

                .container_1 {
                    height: 70vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h3 {
                        font-size: 1.55vw; 
                        margin: inherit;
                    }

                    div {
                        justify-content: space-between;

                        div {
                            width: 50vw;
                            display: flex;
                            flex-direction: row;
                       
                            div {
                                flex-direction: column;
                            }
                        }
                    }

                    section {
                        width: 48vw;
                    }
                }
            }



            .container_2 {
                    width: 25vw;

                    div {
                        height: 40vh;

                        figure {
                            text-align: start;

                            img {
                                width: 40px;
                                border-radius: 30px;

                            }
                        }
                    }

                    .log_divs {
                        height: 45vh;
                    }
            }
            

            .logos {
                display: flex;
                flex-direction: column;

                a {
                    z-index: 2;
                }
    
            }
        
        }
    }
}